@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500|Rubik:300,400,500,700&display=swap');

html, body, .root{
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300; /* light */
    
}
/* https://coolors.co/0892a5-ffba49-0ca4a5-dbb68f-bb7e5d */
.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

h1, h2{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

strong{
    font-weight: 500;
}

header{
    padding: 1em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header img{
    box-sizing: border-box;
    width: 7em;
    height: 7em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 1em;
}

header h1{
    font-family: 'Rubik', sans-serif;
    font-size: 1.953em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
}

header h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.563em;
    font-weight: 100; /* thin */
    text-align: center;
}

section{
    width: 100%;
}

section h3{
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    font-weight: 500; /* medium */
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.projects{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card{
    border-radius: 25px;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    padding: 1em 1.5em;
    background-color: #ffffff;
    margin-bottom: 1em;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

.loading{
    color: #888
}

.project-card > h4{
    font-family: 'Roboto', sans-serif;
    font-size: 1.563em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1em;
}

.project-card > h4 > a{
    color: inherit;
}

.project-card.loading  h4  a::after, .loading-dots::after{
    animation: loading-dots 1s infinite;
    content: '';
}

@keyframes loading-dots{
    0%{
        content: '';
    }
    25%{
        content: '.';
    }
    50%{
        content: '..';
    }
    75%{
        content: '...';
    }
    100%{
        content: '';
    }
}

.project-description{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300; /* light */
}

.project-language{
    font-family: 'Roboto', sans-serif;
    font-weight: 100; /* thin */
}

@media (min-width: 600px){
    header{
        justify-content: flex-start;
        padding-top: 3em;
    }
    header h1, header h2{
        text-align: left;
    }
    .project-card{
        width: 49%;
    }
}

@media (min-width: 900px){
    .project-card{
        width: 32%;
    }
}